# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# IDE/editor folders
.vscode/
.idea/

# Test output or temp folders
output/
